#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
    color: white;

}
#text1{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: white;

}
#title{
font-family: cursive;
color: white;
}
#text2{
font-family: cursive;
color: white;

}
body{
background:linear-gradient( cyan,green,red,pink,purple,orange,yellow);
}

